* {
	margin:0px auto;
	text-align:justify;
}
.ai {
	width:474px;
}
#h1 {
	font-size:35px
}
.pclss {
	font-size:20px;
}
#ht {
	font-size:25px;
}
#sec2 {
	font-family: Arial, Helvetica, sans-serif;
}